<?xml version="1.0" encoding="UTF-8"?>
<config>
    <!--系统内置参数  -->
    <param name="USER_DEFAULT">admin</param>
    <param name="PASS_DEFAULT">123456</param>
    <param name="NEED_CODE_DEFAULT">false</param>
    <param name="PRODUCT_CLASS_DEFAULT">com.hh.wframe.core.WebFrameProduct</param>
    <param name="FAVICON_ICO">wlib/frame/hhlogo.png</param>
    <param name="ROLES">ADMIN[系统管理员],USR_MGR[用户管理]</param>
    <param name="LOG_TYPE">LOGIN,LOGOUT</param>
    <param name="LOGIN_PLUGIN_TYPE">LDAP_LOGINPLUGIN:LDAP登录插件</param>
    <param name="ATCH_DIR">/home/web/apache-tomcat-7.0.72/bin/D:\\</param>
    <param name="ADMIN_ATT_MGR">true</param>
    <!--是否显示管理数据菜单   -->
    <param name="MANAGER_DATA">true</param>
    <!--用户添加自定义参数 -->
</config>